:root {
  --main-text-col: #757575;
  --alt-text-col: #ffffff99;
  --logo-web-col: #2196f3;
  --logo-studio-col: #000000;
  --alt-logo-studio-col: #ffffff;
  --main-title-col: #ffffff;
  --sub-title-col: #212121;
  --acent-col: #2196f3;
  --portfolio-border: #eeeeee;

  --bg-head: #ffffff;
  --bg-hero: #2f303a;
  --bg-team: #f5f4fa;
  --bg-foot: #2f303a;

  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-col);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--acent-col);
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Cap */

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--bg-head);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 80px;
}

.header .logo {
  display: inline-block;
  margin-right: 93px;
}

.logo-text {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.blue {
  color: var(--logo-web-col);
}

.black {
  color: var(--logo-studio-col);
}

.white {
  color: var(--alt-logo-studio-col);
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sub-title-col);
}

.contacts {
  margin-left: auto;
}

.contacts-text {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-hero);
  width: 1600px;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-col);
}

.btn {
  display: block;
  padding: 10px 32px;
  background: var(--acent-col);
  color: var(--main-title-col);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

/* Features */

.features {
  padding-top: 94px;
}

.features .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;
}

.features-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.features-item:not(:nth-child(4n + 1)) {
  margin-left: 30px;
}

.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--sub-title-col);
  margin-bottom: 10px;
}

/* What are we doing */

.direction .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.direction-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.direction-item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--sub-title-col);
  text-align: center;
  margin-bottom: 50px;
}

/* Our team */

.team {
  background-color: var(--bg-team);
  width: 1600px;
}

.team .list {
  display: flex;
}

.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:nth-child(4n + 1)) {
  margin-left: 30px;
}
.taem-content {
  background-color: var(--bg-head);
  padding: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--sub-title-col);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.footer {
  background-color: var(--bg-foot);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.address-block {
  width: calc(100% / 12 * 3);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: inherit;
  margin-top: 20px;
}

.address-title {
  color: var(--main-title-col);
}

.footer-item {
  margin-top: 9px;
}

.contacts-foot {
  color: var(--alt-text-col);
}

/* Portfolio */

.portfolio .list {
  display: flex;
}

.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.btn-filter {
  padding: 6px 22px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--sub-title-col);
  background: var(--bg-team);
  border: none;
  border-radius: 4px;
}

.btn-filter:hover,
.btn-filter:focus {
  background: var(--acent-col);
  color: var(--main-title-col);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-item {
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.portfolio-image {
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-content {
  padding: 24px 20px;
  border-left: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
}

.example-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--sub-title-col);
}

.example-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-col);
}
